.applybody{
  background-image: url("/src/assets/applybg.avif"); /* Correct path to the image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    margin-top: -38px;
    height: 87vh;
}
.apply-page {
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    margin-top: 40px;
   margin-left: 200px;
   background-color: transparent;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .apply-page form{
    background-color: transparent;
    margin: auto;
  }
  
  .job-details {
    margin-bottom: 20px;
  }
  
  .job-details h2 {
    font-size: 2.8rem;
    color: #1e3a8a;
    margin-bottom: 10px;
    text-transform: uppercase;
   text-align: center;
  }
  
  .job-details p {
    font-size: 1.2rem;
    color: #374151;
    margin-bottom: 8px;
  }
  
  .apply-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .apply-form h3 {
    font-size: 1.5rem;
    color: #1e3a8a;
    margin-bottom: 10px;
  }
  
  .apply-form label {
    font-size: 1rem;
    color: #374151;
    display: flex;
    flex-direction: column;
  }
  
  .apply-form input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    margin-top: 4px;
  }
  
  .apply-form button {
    background-color: #1e3a8a;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
  }
  
  .apply-form button:hover {
    background-color: #164eab;
    transform: scale(1.05);
  }